/* Caja 1 */
.box1 {
    background-color: rgb(255, 100, 100);
    width: 200px;
    height: 150px;
    border: 3px solid black;
    margin: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* Caja 2 */
.box2 {
    background-color: #66ccff;
    width: 50%;
    height: 120px;
    border: 4px dashed blue;
    margin: 25px;
    padding: 20px;
    text-align: left;
    text-decoration: underline;
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: normal;
}

/* Caja 3 */
.box3 {
    background-color: rgb(120, 255, 150);
    width: 250px;
    height: 200px;
    border: 6px dotted green;
    margin: 30px;
    padding: 10px;
    text-align: right;
    text-transform: lowercase;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 300;
}

/* Caja 4 */
.box4 {
    background-color: #ffcc00;
    width: 300px;
    height: 180px;
    border: 5px double orange;
    margin: 40px;
    padding: 25px;
    text-align: center;
    text-decoration: overline;
    font-family: Georgia, serif;
    font-size: 22px;
    font-weight: bold;
}

/* Caja 5 */
.box5 {
    background-color: rgb(180, 120, 255);
    width: 60%;
    height: 160px;
    border: 8px groove purple;
    margin: 35px;
    padding: 30px;
    text-align: left;
    text-transform: capitalize;
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    font-weight: 500;
}
